<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
        <!--引入需要springIOC容器管理的bean所在的xml配置文件-->
        <import resource="applicationContext-dao.xml"></import>
        <import resource="applicationContext-service.xml"></import>
        <import resource="applicationContext-trans.xml"></import>
</beans>