<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

       <!--1.配置组件扫描-->
      <context:component-scan base-package="com.znb.web.controller"></context:component-scan>

       <!--2.配置视图解析器-->
       <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
              <property name="prefix" value="/WEB-INF/views/"></property>
              <property name="suffix" value=".jsp"></property>
       </bean>

       <!--
            <mvc:default-servlet-handler/>将在springMVC上下文中定义一个 DefaultServletHttpRequestHandler 它
            回对进入DispatcherServlet 的请求进行筛查，如果发现是没有经过映射的请求，就将该请求交由WEB应用
            服务器默认的Servlet处理，如果是有映射的请求（即配置了@RequestMapping)，才由DispatcherServlet 继续处理。

            一般 WEB 应用服务器默认的Servlet的名称都是default。若所使用的WEB服务器的默认Servlet不是default，
            则需要通过 default-servlet-name 属性显示指定。

            配置了 default-servlet-handler 后，@RequestMapping 的映射回失效，需要加上mvc:annotation-driven
       -->
       <mvc:default-servlet-handler default-servlet-name="default"/>
       <mvc:annotation-driven/>

      <!--配置文件上传解析器
            id必须要写，且名字必须叫 multipartResolver。否则就会报错。
            原因是springMVC底层在寻找这个组件的时候，就是通过该名字去找的。
      -->
      <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
            <!--保证与上传表单所在的JSP页面的编码一致-->
            <property name="defaultEncoding" value="utf-8"></property>
            <!--最大上传大小，单位是字节-->
            <property name="maxUploadSize" value="1024"></property>
      </bean>

      <!--拦截器的配置-->
      <mvc:interceptors>
        <!--直接配置在<mvc:interceptors>下的拦截器bean，会拦截所有进入DispatcherServlet的请求-->
              <!--配置方式1.直接使用class指定类名的方式-->
              <bean class="com.znb.web.intectptor.MyFirstInterceptor"></bean>
              <!--配置方式2.在拦截器类上加上@Component 注解，然后再这里使用ref的方式配置，如下
                <ref bean="myFirstInterceptor"></ref>  bean属性指定这里引用的拦截器对象，一般是类名首字母小写作为名字。
              -->
      </mvc:interceptors>

      <!--配置Shiro-->
      <!--1.配置SecurityManager-->
      <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
          <property name="cacheManager" ref=""/>
          <property name="sessionManager" value="native"/>
          <property name="realm" ref="jdbcRealm"/>
      </bean>
      <!--2.配置CacheManager
        需要加入ehcache 的jar包及配置文件
      -->
      <bean id="cacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
          <property name="cacheManagerConfigFile" value="classpath:xml/ehcache.xml"/>
      </bean>
      <!--3.配置Realm
        直接配置实现了 org.apache.shiro.realm.Realm 接口的bean
      -->
      <bean id="jdbcRealm" class="com.znb.web.realms.ShiroRealm"></bean>
      <!--4.配置 LifecycleBeanPostProcessor 可以自定义的来调用配置再Spring IOC容器中的shiro 的bean 的生命周期方法-->
      <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>
      <!--5.启用IOC容器中使用shiro的注解，但必须再配置了LifecycleBeanPostProcessor 之后才可以使用-->
      <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" depends-on="lifecycleBeanPostProcessor"/>
      <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
          <property name="securityManager" ref="securityManager"/>
      </bean>
      <!--6.配置ShiroFilter
          id 必须和web.xml 中配置的 DelegatingFilterProxy 的filter name 一致。
      -->
      <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
          <property name="securityManager" ref="securityManager"/>
          <property name="loginUrl" value="/login.jsp"/>
          <property name="successUrl" value="list.jsp"/>
          <!--没有权限的页面-->
          <property name="unauthorizedUrl" value="unauthorized.jsp"/>
          <!--配置哪些页面需要被保护，以及访问这些请求需要的权限
            1） anon 表示可以被匿名访问
            2） authc 表示必须认证（即登录）后才能访问
          -->
          <property name="filterChainDefinitions">
              <value>
                  /favicon.ioc = anon
                  /logo.png = anon
                  /login = anon
                  /** = authc
              </value>
          </property>

      </bean>



</beans>